# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Simulation outputs
# =========================
TITAN_sol/
MarsProfile/
Perseverance_2021_Entry/
Titan_Atmosphere_Test/
Venus_Atmosphere_Test/
simulation/

# =========================
# Executables
# =========================
Executables/

# =========================
# Config / Local files
# =========================
config.json
config.cfg
launch.json
settings.json
link*.cfg

# =========================
# Generated / Misc
# =========================
*.png
*.csv
*.xml

